@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    /* background: rgba(0, 0, 0, .9); */
    background: #000;

}

h1, h4, p, a{
    color: #ffffff;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.btn{
    padding: 12px 32px;
    font-style: 1rem;
    text-transform: uppercase;
    background: #ff7f50;
    color: #ffffff;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
}

.btn-light {
    background: transparent;
    color: #fff;
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    transition: .3s;
    font-size: 1.1rem;
    transition: .3s;
}